body{
    margin:0;
    padding:0;
}
.Boton{
    text-decoration: none;
    padding: 5px;
    font-weight: 200;
    font-size: 10px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 3px;
    border: 1.5px solid #0016b0;
}
.InputRegistros{
    width: 10%;
    
}
.Numero_Entrada{
    color:black;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 4mm;
    border-bottom: 1.5px #1883ba groove;
    width: 30%;
    
    
}
.Container {
    color:black;
    font-family: 'Lora', serif;
    font-size: 3mm;
    float:left;
    
    width: 255px;
    border-bottom: 1.5px #1883ba groove;
    border-right: 1.5px #1883ba groove;}
    
.Title{
    color:black;
    font-family: 'Lora', serif;
    font-size: 3mm;
    float:left;
    width: 255px;
    border-bottom: 1.5px #1883ba groove;
    border-right: 1.5px #1883ba groove;
}

.Imagen{
    color:black;
    font-family: 'Lora', serif;
    font-size: 3mm;
    float:left;
    width: 255px;
    border-bottom: 1.5px #1883ba groove;
  
    
}
.Container_id
{
    font-family: 'Lora', serif;
    font-size: 3mm;
    float:left;
    width: 255px;
   
}
.Title_name
{
    font-family: 'Lora', serif;
    font-size: 3mm;
    float:left;
    width: 255px;
}